<!DOCTYPE html>
<html>
<head>
<title>{{ _.blog_name }}</title>
 <meta charset='utf-8'>
<link rel="stylesheet" href="../../static/index.css">
</head>
<body>

<div class="wrapper">
	<div class="header">
		<span class="blog-name">{{ _.blog_name }}</span>
		<a class="nav" href="/">Home</a>
  	<!--<a class="nav" href="about.html">About</a>-->
	</div>
<div class="content">
	<div class="post-list">
	{% for post in posts %}
    <div class="entry">
			<a class="title" id="{{ post.src }}" href="#">{{ post.title }}</a>
      <span class="date">{{ post.time }}</span>
    </div>
	{% endfor %}
	</div>
</div>

<div class="bottom_nav">
	<div class="pagination">
	{% for page in pagination %}
	<a class="pagination" id="{{page.page}}" href="#">{{ page.page }}</a>
	{% endfor %}
	</div>
  powered by <a href="https://github.com/gaotongfei/parchment">parchemnt</a>, theme <a href="https://github.com/skyline75489/Genie">Genie</a>
</div>

</div>
<script type="text/javascript">
var href = window.location.href;
var pagination = document.getElementsByClassName("pagination");
for (var i=0;i<pagination.length;i++){
	pagination[i].pathname = 'page_' + pagination[i].id + '/index.html'
}
var postTitle = document.getElementsByClassName("title");
for (var i=0;i<postTitle.length;i++){
	postTitle[i].pathname = postTitle[i].id
}

</script>
</body>

</html>
